backend/gii-generators/
.idea/
api_public/runtime/*
vendor/
logs/
backend/runtime/*
backend/web/assets/*
backend/web/cache/*
backend/web/medias/*
api/runtime/*
frontend/runtime/*
frontend/web/assets/*
frontend/web/medias/*
console/runtime/*
composer.lock
assets/*
common/config/main-local.php
common/config/params-local.php
backend/config/main-local.php
backend/config/params-local.php
yii
